html,
body {
  width: 100%;
  height: 100%;
  background: #9b070f;
}
body {
  margin: 0;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

canvas {
  display: block;
}

/* ---- particles.js container ---- */
#particles-js {
  width: 100%;
  height: 100%;
  background-color: #9b070f;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#envelop {
  width: 400px;
  height: 400px;
  background-image: url(../img/envelope_PNG18366.png);
  background-size: cover;
  background-position: center;
  margin: 200px auto 0 auto;
  cursor: pointer;
  transition: 0.5s;
}

#envelop:hover {
  opacity: 0.7;
}

.envelop-msg {
  margin-top: 0;
  color: white;
  text-align: center;
  font-family: "Mountains of Christmas", cursive;
  font-size: 60px;
}

.letter-close {
  display: block;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.letter-open {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.appear {
  animation: fade-in 1s;
  animation-fill-mode: forwards;
}

.disappear {
  animation: fade-out 1s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.tree {
  width: 360px;
  height: 480px;
  border-radius: 20px;
  box-shadow: 0 0 20px 10px black;
  margin: 20px auto 0 auto;
  background-image: url(../img/giphy.gif);  /*https://media.giphy.com/media/gNke2UrUTopOg/giphy.gif */
  background-size: cover;
  background-position: center;
  transition: 0.5s;
  cursor: pointer;
}

.tree:hover {
  opacity: 0.6;
}

.letter-title {
  text-align: center;
  color: #ecf0f1;
  font-family: "Great Vibes", cursive;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 50px;
}

.msg-box {
  line-height: 35px;
  font-size: 20px;
  font-family: "Source Serif Pro", serif;
  color: brown;
  background-color: ivory;
  width: 710px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px 1px white;
  padding: 30px;
}

@media screen and (max-width: 760px) {
  .msg-box {
    width: 300px;
    padding: 20px;
    font-size: 18px;
  }
  .tree {
    margin-top: 40px;
    width: 250px;
    height: 300px;
  }
  .letter-title {
    font-size: 30px;
  }
  #envelop {
    width: 250px;
    height: 250px;
    margin: 150px auto 0 auto;
  }
  .envelop-msg {
    font-size: 28px;
  }
  .letter-close {
    display: block;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .letter-open {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
  }
}

.from {
  text-align: right;
  margin-top: 40px;
  margin-bottom: 0;
}
